@{
    ViewData["Title"] = "Index";
}

<!-- ============================ Dashboard: Dashboard Start ================================== -->
<!-- Row -->
<div class="row justify-content-between">
    <div class="col-lg-12 col-md-12 col-sm-12 pb-4">
        <div class="dashboard_wrap d-flex align-items-center justify-content-between">
            <div class="arion">
                <nav class="transparent">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">All Messages</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="dashboard_wrap">

            <div class="form_blocs_wrap">
                <form>
                    <div class="row justify-content-between">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <h5>No Any Messages Found</h5>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>
</section>
<!-- ============================ Dashboard: Dashboard End ================================== -->
