@{
    ViewData["Title"] = "SystemSettings";
}

<div class="row justify-content-between">
    <div class="col-lg-12 col-md-12 col-sm-12 pb-4">
        <div class="dashboard_wrap d-flex align-items-center justify-content-between">
            <div class="arion">
                <nav class="transparent">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="manage" asp-controller="dashboard" asp-action="index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">System Settings</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="dashboard_wrap">

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 mb-4">
                    <h6 class="m-0">System Settings</h6>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <form>
                        <div class="form-group smalls">
                            <label>Website Name*</label>
                            <input type="text" class="form-control" placeholder="SkillUp" />
                        </div>
                        <div class="form-group smalls">
                            <label>Website Title*</label>
                            <input type="text" class="form-control" placeholder="SkillUp Education" />
                        </div>
                        <div class="form-group smalls">
                            <label>Keyword with comma's</label>
                            <input type="text" class="form-control" placeholder="skill, lms, etc" />
                        </div>
                        <div class="form-group smalls">
                            <label>Website Description</label>
                            <textarea class="form-control summernote"></textarea>
                        </div>
                        <div class="form-group smalls">
                            <label>Author Name</label>
                            <input type="text" class="form-control" placeholder="Themezhub" />
                        </div>
                        <div class="form-group smalls">
                            <label>Slogan*</label>
                            <input type="text" class="form-control" placeholder="Best Education Platform" />
                        </div>
                        <div class="form-group smalls">
                            <label>System Email*</label>
                            <input type="text" class="form-control" placeholder="Themezhub@gmail.com" />
                        </div>
                        <div class="form-group smalls">
                            <label>Phone</label>
                            <input type="text" class="form-control" placeholder="8556068402" />
                        </div>
                        <div class="form-group smalls">
                            <label>Address</label>
                            <textarea class="form-control" placeholder="Canada, USA"></textarea>
                        </div>
                        <div class="form-group smalls">
                            <label>YouTube API Key*</label>
                            <input type="text" class="form-control" placeholder="https://www.youtube.com/watch?v=ExXhmuH-cw8" />
                        </div>
                        <div class="form-group smalls">
                            <label>Vimeo API Key*</label>
                            <input type="text" class="form-control" placeholder="https://www.vimeo.com/watch?v=ExXhmuH-cw8" />
                        </div>
                        <div class="form-group smalls">
                            <label>Purchase Code*</label>
                            <input type="text" class="form-control" placeholder="JDNFHF9876DDND8" />
                        </div>
                        <div class="form-group smalls">
                            <label>Student Email Verification</label>
                            <div class="simple-input">
                                <select id="yn" class="form-control">
                                    <option value="">&nbsp;</option>
                                    <option value="1">Disable</option>
                                    <option value="2">Enable</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group smalls">
                            <label>Choose Language</label>
                            <div class="simple-input">
                                <select id="lgu" class="form-control">
                                    <option value="">&nbsp;</option>
                                    <option value="1">Hindi</option>
                                    <option value="2">English</option>
                                    <option value="3">Spanish</option>
                                    <option value="4">French</option>
                                    <option value="5">Japani</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group smalls">
                            <label>Footer Text</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group smalls">
                            <label>Footer Link</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group smalls">
                            <button class="btn theme-bg text-white" type="button">Save Change</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


</div>

</div>

</div>
</section>
<!-- ============================ Dashboard: Dashboard End ================================== -->
