@model CreateCourseReviewVM

 <!-- Reviews Detail -->
<div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">

    <!-- Overall Reviews -->
    <div class="rating-overview">
        <div class="rating-overview-box">
            <span class="rating-overview-box-total">4.2</span>
            <span class="rating-overview-box-percent">out of 5.0</span>
            <div class="star-rating" data-rating="5">
                <i class="ti-star"></i><i class="ti-star"></i><i class="ti-star"></i><i class="ti-star"></i><i class="ti-star"></i>
            </div>
        </div>

        <div class="rating-bars">
            <div class="rating-bars-item">
                <span class="rating-bars-name">5 Star</span>
                <span class="rating-bars-inner">
                    <span class="rating-bars-rating high" data-rating="4.7">
                        <span class="rating-bars-rating-inner" style="width: 85%;"></span>
                    </span>
                    <strong>85%</strong>
                </span>
            </div>
            <div class="rating-bars-item">
                <span class="rating-bars-name">4 Star</span>
                <span class="rating-bars-inner">
                    <span class="rating-bars-rating good" data-rating="3.9">
                        <span class="rating-bars-rating-inner" style="width: 75%;"></span>
                    </span>
                    <strong>75%</strong>
                </span>
            </div>
            <div class="rating-bars-item">
                <span class="rating-bars-name">3 Star</span>
                <span class="rating-bars-inner">
                    <span class="rating-bars-rating mid" data-rating="3.2">
                        <span class="rating-bars-rating-inner" style="width: 52.2%;"></span>
                    </span>
                    <strong>53%</strong>
                </span>
            </div>
            <div class="rating-bars-item">
                <span class="rating-bars-name">1 Star</span>
                <span class="rating-bars-inner">
                    <span class="rating-bars-rating poor" data-rating="2.0">
                        <span class="rating-bars-rating-inner" style="width:20%;"></span>
                    </span>
                    <strong>20%</strong>
                </span>
            </div>
        </div>
    </div>

    <!-- Reviews -->
    <div class="list-single-main-item fl-wrap">
        <div class="list-single-main-item-title fl-wrap">
            <h3>Item Reviews -  <span> 3 </span></h3>
        </div>
        <div class="reviews-comments-wrap">
            <!-- reviews-comments-item -->
            <div class="reviews-comments-item">
                <div class="review-comments-avatar">
                    <img src="https://via.placeholder.com/500x500" class="img-fluid" alt="">
                </div>
                <div class="reviews-comments-item-text">
                    <h4><a href="#">Josaph Manrty</a><span class="reviews-comments-item-date"><i class="ti-calendar theme-cl"></i>27 Oct 2019</span></h4>

                    <div class="listing-rating"><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i></div>
                    <div class="clearfix"></div>
                    <p>" Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris. "</p>
                    <div class="pull-left reviews-reaction">
                        <a href="#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>
                        <a href="#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>
                        <a href="#" class="comment-love active"><i class="ti-heart"></i> 07</a>
                    </div>
                </div>
            </div>
            <!--reviews-comments-item end-->
            <!-- reviews-comments-item -->
            <div class="reviews-comments-item">
                <div class="review-comments-avatar">
                    <img src="https://via.placeholder.com/500x500" class="img-fluid" alt="">
                </div>
                <div class="reviews-comments-item-text">
                    <h4><a href="#">Rita Chawla</a><span class="reviews-comments-item-date"><i class="ti-calendar theme-cl"></i>2 Nov May 2019</span></h4>

                    <div class="listing-rating"><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star"></i></div>
                    <div class="clearfix"></div>
                    <p>" Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris. "</p>
                    <div class="pull-left reviews-reaction">
                        <a href="#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>
                        <a href="#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>
                        <a href="#" class="comment-love active"><i class="ti-heart"></i> 07</a>
                    </div>
                </div>
            </div>
            <!--reviews-comments-item end-->
            <!-- reviews-comments-item -->
            <div class="reviews-comments-item">
                <div class="review-comments-avatar">
                    <img src="https://via.placeholder.com/500x500" class="img-fluid" alt="">
                </div>
                <div class="reviews-comments-item-text">
                    <h4><a href="#">Adam Wilsom</a><span class="reviews-comments-item-date"><i class="ti-calendar theme-cl"></i>10 Nov 2019</span></h4>

                    <div class="listing-rating"><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i></div>
                    <div class="clearfix"></div>
                    <p>" Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris. "</p>
                    <div class="pull-left reviews-reaction">
                        <a href="#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>
                        <a href="#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>
                        <a href="#" class="comment-love active"><i class="ti-heart"></i> 07</a>
                    </div>
                </div>
            </div>
            <!--reviews-comments-item end-->

        </div>
    </div>

    <!-- Submit Reviews -->
    <div class="edu_wraper">
        <h4 class="edu_title">Submit Reviews</h4>
        <div class="review-form-box form-submit">
            <form method="post" asp-controller="Course" asp-action="SubmitReview">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label asp-for="ReviewContent">Review</label>
                            <textarea asp-for="ReviewContent" class="form-control ht-140" placeholder="Your Review"></textarea>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <button type="submit" class="btn theme-bg btn-md">Submit Review</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>

</div>