@{
    ViewData["Title"] = "SkillUp-Wishlist";
}

<!-- ============================ Page Title Start ================================== -->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <div class="breadcrumbs-wrap">
                    <h1 class="breadcrumb-title">Courses with Sidebar</h1>
                    <nav class="transparent">
                        <ol class="breadcrumb p-0 bg-white">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active theme-cl" aria-current="page">Product Wishlist</li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ============================ Page Title End ================================== -->


<!-- ============================ Product Wishlist Start ================================== -->
<section class="pt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12">
                <div class="table-responsive">
                    <table class="table table-striped wishlist">
                        <tbody>
                            <tr>
                                <td><a href="#" class="remove_cart"><i class="ti-close"></i></a></td>
                                <td><div class="tb_course_thumb"><img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="" /></div></td>
                                <th>The Computer Science of Human Decisions<span class="tb_date">18 july 2020</span></th>
                                <td><span class="wish_price theme-cl">$149.00</span></td>
                                <td>In Stock</td>
                                <td><a href="#" class="btn theme-bg text-white">Add To Cart</span></td>
                            </tr>
                            <tr>
                                <td><a href="#" class="remove_cart"><i class="ti-close"></i></a></td>
                                <td><div class="tb_course_thumb"><img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="" /></div></td>
                                <th>The Computer Science of Human Decisions<span class="tb_date">15 july 2020</span></th>
                                <td><span class="wish_price theme-cl">$129.00</span></td>
                                <td>In Stock</td>
                                <td><a href="#" class="btn theme-bg text-white">Add To Cart</span></td>
                            </tr>
                            <tr>
                                <td><a href="#" class="remove_cart"><i class="ti-close"></i></a></td>
                                <td><div class="tb_course_thumb"><img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="" /></div></td>
                                <th>The Computer Science of Human Decisions<span class="tb_date">13 july 2020</span></th>
                                <td><span class="wish_price theme-cl">$125.00</span></td>
                                <td>In Stock</td>
                                <td><a href="#" class="btn theme-bg text-white">Add To Cart</span></td>
                            </tr>
                            <tr>
                                <td><a href="#" class="remove_cart"><i class="ti-close"></i></a></td>
                                <td><div class="tb_course_thumb"><img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="" /></div></td>
                                <th>The Computer Science of Human Decisions<span class="tb_date">12 july 2020</span></th>
                                <td><span class="wish_price theme-cl">$179.00</span></td>
                                <td>In Stock</td>
                                <td><a href="#" class="btn theme-bg text-white">Add To Cart</span></td>
                            </tr>
                            <tr>
                                <td><a href="#" class="remove_cart"><i class="ti-close"></i></a></td>
                                <td><div class="tb_course_thumb"><img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="" /></div></td>
                                <th>The Computer Science of Human Decisions<span class="tb_date">11 july 2020</span></th>
                                <td><span class="wish_price theme-cl">$180.00</span></td>
                                <td>In Stock</td>
                                <td><a href="#" class="btn theme-bg text-white">Add To Cart</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ============================ Product Wishlist End ================================== -->
